---
const { badgeClass, imgSrc, badgeName, badgeType, href } = Astro.props;
---

<div class={`${badgeClass} badge opacity-0 transition-all duration-500 max-w-64 flex justify-center items-center flex-col bg-[#343444] rounded-md py-3 px-2`}>
    <img class="w-[50%]" src={imgSrc.src} alt="">
    <p class="text-center my-2">{badgeType}</p>
    <p class="text-xs text-[#ccc]">{badgeName}<p/>
    <a class="mt-2 py-2 px-4 bg-[#232344] rounded-md hover:bg-[#121222]" href={href} target="_blank">See Badge in Credly</a>
</div>

<style>
    @keyframes fadeInUp {
        from {
            transform: translateX(-200px);
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .badge {
        animation: fadeInUp 1.5s ease-out forwards;
    }

    .badge-0 {
        animation-delay: 0.5s;
    }
    .badge-1 {
        animation-delay: 1s;
    }
    .badge-2 {
        animation-delay: 1.5s;
    }
    .badge-3 {
        animation-delay: 2s;
    }
</style>