---
import EducationIcon from '@icons/Education.astro';
import CourseBadge from '@ui/CourseBadge.astro';
import  { basic } from '../../cv.json';
import Achievements from './Achievements.astro';

const {education} = basic

const educationInfo = education[0]

const { institution, degree, major, graduationYear, courses} = educationInfo
---

<section class="porfolio-section mt-4 py-4" id="education">
    <h3 class="flex gap-1 items-center text-xl sm:text-2xl font-bold text-light-textPrimary dark:text-dark-accent"><EducationIcon/> Education</h3>
    <div class="flex justify-between text-base sm:text-lg ">
        <div>
            <h3 class="font-medium text-light-accentSecondary dark:text-dark-accentSecondary">{institution}</h3>
            <p class="opacity-65 text-sm sm:text-base">{major}</p>
        </div>
        <p class="font-medium text-light-accentSecondary dark:text-dark-accentSecondary">Graduated {graduationYear}</p>
    </div>
    <Achievements/>
    <div class="mt-4">
        <h4 class="text-xl font-bold text-center text-light-accentSecondary dark:text-white">Courses</h4>
        <ul class="grid gap-2">
            {courses.map((course) => <CourseBadge name={course.name} institution={course.institution} url={course.url} />)}
        </ul>
    </div>
</section>

<style>
    ul {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
</style>